@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.none {
    display: none !important;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, serif;
}

.wrapper {
    margin-left: 60px;
    margin-right: 60px;
}

header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-enter {
    width: 78px;
    height: 40px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

main {
    box-shadow: 0px 6px 6px 0px rgba(34, 60, 80, 0.1) inset;    
}

.search {
    width: 100%;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 2px solid lightslategray; 
    outline:none; 
    box-shadow: none; 

    margin: 56px auto;
    color: lightslategray;
    font-size: 16px;
    font-weight: 400;
}

.cards-header {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

.card {
    margin-top: 16px;
}

.card-img{
    margin-bottom: 16px;
}

.card-img img {
    width: 100%;
}

.card-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.card-type {
    margin: 4px auto;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.card-time {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
}

footer {
    background-color: #262626;
}

.footer-logo {
    margin: 0px;
    padding-top: 56px;
    padding-bottom: 40px;
}

.footer-line {
    height: 1px;
    background-color: #FFFFFF;
    opacity: 0.4;
}

.footer-about {
    margin: 0px;
}

.footer-about-col1, .footer-about-col2, .footer-about-col3 {
    padding: 39px 0px 25px 0px;
}

.select {
    width: 227px;
    height: 40px;
    margin-bottom: 32px;
    background: #3B3B3B;
    color: white;
    outline:none; 
    box-shadow: none; 
    border: none;

    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.footer-element {
    display: block;
    padding-bottom: 23px;

    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.footer-element-logo, .footer-element-logo::before {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.footer-element-logo {
    display: block;
    color: white;
}

.footer-element-logo::before {
    content: "#";
    color: #49A144;
}

.socials {
    margin: 0px;
}

.socials > img {
    width: 24px;
    height: 24px;
    padding-top: 20px;
    padding-right: 10px;
}

.footer-links {
    padding-top: 40px;
    padding-bottom: 40px;
}


.footer-end {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 11px;
    line-height: 13px;
    color: white;
}

.jumbo {
    background-image: url('./img/food.png');
    height: 364px;
}

.pushkin {
    position: absolute;
    background-color: white;
    top: 80px;
    left: 81px;
    height: 204px;
    border-radius: 2px;
    padding: 38px;
}

.pushkin-header {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.pushkin-content {
    padding-top: 54px;
}

.push-content-type {
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}

.push-content-time {
    width: 100px;
    background-color: #262626;
    color: white;
    height: 32px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    border-radius: 10px;
}

.logo-menu {
    padding: 40px 0px 40px;
    
}

.menu-element {
    color: #626262;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-right: 40px;
}

.dishes {
    padding: 0px 0px 80px;
}

.dishes-header {
    padding-top: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

.dish-cart {
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-right: 16px;
    margin-bottom: 49px;
}

.dish-settings {
    padding: 16px;
}

.dish-name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.dish-type {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
}

.dish-price {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}


@media screen and (max-width: 768px){
    .wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .footer-about-col2 {
        padding-top: 39px;
        padding-bottom: 25px;
    }

    .footer-about-col3 {
        padding-top: 39px;
    }

    .jumbo {
        background-image: url('./img/food768.png');
    }

}

@media screen and (max-width: 320px){
    .wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer-about-col2 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .footer-about-col3 {
        padding-top: 0;
    }

    .jumbo {
        background-image: url('./img/food320.png');
        height: 255px;
    }

    .dish-settings {
        padding: 0px;  
    }

    .dish-cart {
        margin-right: -16px;
        margin-bottom: 16px;
    }

    .dish-cart > img {
        width: 102px;
        height: 102px;
    }

    .dish-name {
        font-size: 14px;
        max-width: 188px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pushkin {
        left: 5px;
    }

    .pushkin-header {
        font-size: 24px;
    }

    .pushkin-content {
        padding-top: 40px;
    }

    .push-content-type {
        padding-bottom: 16px;
    }

}
