* {
	margin: 0;
	padding: 0;	
}

html, body {
	height: 100%;
	background: #fff url('../images/back.jpg') no-repeat 50% 0 fixed;
}

.wrapper {
	height: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.page {
	min-height: 100%;
	padding-bottom: 90px;
	box-sizing: border-box;
}

.header {
	max-width: 1100px;
	height: 300px;
	background: #fff url('../images/header.jpg') no-repeat center;
}

.header_text {
	padding-top: 60px;	
	padding-left: 100px;
	width: 300px;
	font-family: Monotype Corsiva, Tahoma, Arial;
	font-size: 38px;
	color: white;
}

.footer {
	height: 90px;
	margin-top: -90px;
	box-sizing: border-box;

	background: rgba(204, 204, 204, 0.43);
	border-radius: 0 0 20px 20px;
	padding: 10px;
	color: #777;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	text-align: center;
}