* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;
}

h2, p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbed);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.glass {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    min-height: 80vh;
    width: 60%;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2 {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    position: absolute;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.link {
    display: flex;
    width: 275px;
    margin: 2rem 0rem;
    align-items: center;
    padding: 5px 5px 5px 40px;
}

.link h2 {
    padding: 0rem 2rem;
}

.link:hover {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
    border-radius: 2rem;
    align-items: center;
    cursor: pointer;
}

.link:hover h2 {
    
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbed);  
    border-radius: 2rem;
    color: white;  
    padding: 1rem;
    position: relative;
    margin: 0.5rem;
}

.pro img {
    position: absolute;
    top: -10%;
    right: 10%;
}

.pro h2 {
    width: 40%;
    color: white;
    font-weight: 600;
}

.games {
    flex: 2;
}

.status {
    margin-bottom: 1rem;
}

.status input {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
}

.card {
    display: flex;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 0.5rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}

.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbed); 
    width: 400px;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 400px;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
}

.percentage {
    font-weight: bold;
    padding-right: 5px;
}
