* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbed);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    min-height: 80vh;
    width: 60%;
}

.circle1, .circle2 {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    border-radius: 2rem;
    height: 20rem;
    width: 20rem;
    position: absolute;
}

.circle1 {
    top: 5%;
    left: 10%;
}

.circle2 {
    bottom: 5%;
    right: 15%;
}