@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: none;
}

body {
    width: 1219px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: auto; 
}

h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    height: 84px;
    background-color: #007765;
}

.header-logo {
    width: 50%;
    padding-left: 55px;
    padding-top: 20px;
}

.header-menu {
    width: 50%;
}

.header-menu-list{
    list-style-type: none;
    text-align: right;
    padding: 28px 54px 26px;
}

.menu-element, .separator {
    display: inline;
}

.header-menu-list > li > a{
    text-decoration: none;
}

.header-menu-list > li > a:visited, .header-menu-list > li > a:active, .separator{
    color: white;
}

.jumbotron {
    background-image: url("./img/jumbotron.png");
    padding: 160px 0px;

    color: white;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
}

.problem {
    
}

.problem-text {
    padding: 0px 54px 92px 55px;
}


