@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: none;
}

body {
    width: 1219px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: auto; 
}

h2 {
    padding-top: 48px;
    padding-bottom: 16px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    height: 84px;
    background-color: #007765;
}

.header-logo {
    width: 50%;
    padding-left: 55px;
    padding-top: 20px;
}

.header-menu {
    width: 50%;
}

.header-menu-list{
    list-style-type: none;
    text-align: right;
    padding: 28px 54px 26px;
}

.menu-element, .separator {
    display: inline;
}

.header-menu-list > li > a{
    text-decoration: none;
}

.header-menu-list > li > a:visited, .header-menu-list > li > a:active, .separator{
    color: white;
}

.jumbotron {
    background-image: url("./img/jumbotron.png");
    padding: 160px 0px;

    color: white;
    font-size: 72px;
    line-height: 84px;
    font-weight: 500;
    text-align: center;
}

.problem {
    background-color: #ececec;    
}

.problem-text {
    padding: 0px 54px 92px 55px;
    font-size: 32px;
    line-height: 37px;
}

.hero {
    background-image: url("./img/hero.png");
    padding: 127px 163px;
    font-style: italic;
    color: white;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    text-align: center;    
}

.pipercoin-logo {
    float: left;
    margin-right: 48px;
}

.team {
    background-color: #ececec;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 30px 30px 0px;
    width: 350px;
    height: 283px;
}

.card-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}

.card-position {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333333;
}

.footer-text {
    color: white;
    width: 540px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-top: 48px;
    padding-bottom: 64px;
    text-align: center;
}



