html {
    font-size: 12px;
}

body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p, ol, li, table {
    font-size: 1.4rem;
}

table {
    width: 100%;
}

table, td, th, tr {
    border: 1px solid;
}

figure {
    float: right;
}

figure figcaption{
    font-size: 1.4em;
    font-style: italic;
}

figure > p {
    margin: 0;
}
